body {
    background-color: white;
    color: black;
}

#combine {
    text-align: center;
    width: 400px;
    height: 500px;
    position: relative;
    margin: 50px;
    border-radius: 20px;
    float: right;
    right: 100px;
    padding: 20px;
    box-shadow: 0px 0px 5px #DDD;
    background-color: #F5F3E5;
    text-align: center;
}

#search {
    position: relative;
    width: 350px;
    height: 125px;
    padding: 12px;
}

#weatherinfo {
    font-size: 43;
}

#search label {
    position: relative;
    top: 50px;
    float: left;
    width: 200px;
    padding-right: 12p
}

#search button {
    position: relative;
    top: 70px;
    width: 90px;
    height: 50px;
}

#weatherDisplay {
    padding: 10px;
    font-size: 40px;
    top: 60px;
    left: 270px;
}

#weatherApp {
    font-size: 10px;
    height: 250px;
    width: 350px;
    position: relative;
    float: left;
    left: 17px;
    padding-left: 15px;
    top: 40px;
    border-radius: 20px;
    text-shadow: red;
}

#headerTime {
    margin: auto;
    width: 600px;
    height: 50px;
    font-size: 20px;
}

#headerName {
    margin: auto;
    position: relative;
    top: 13px;
    width: 400px;
}

#headerLogo {
    position: relative;
    float: left;
    left: 20px;
    top: 10px;
}

#weather,
#temp,
#wind,
#city {
    position: relative;
    right: 10px;
}

#headerApp {
    width: 2000px;
    left: -20px;
    height: 100px;
    position: relative;
    top: -30px;
}

#rssApp {
    width: 50%;
    left: 100px;
    top: 40px;
    position: relative;
    padding: 20px;
    box-shadow: 0px 0px 5px #DDD;
    background-color: #F5F3E5;
    border-radius: 20px;
}


#stockApp {
    position: relative;
    overflow: hidden;
    top: -140px;
    padding: 20px;
    right: 150px;
    height: 300px;
    width: 400px;
    float: right;
    border-radius: 20px;
    background-color: #F5F3E5;
    text-align: center;
}
.stockui {
    margin: 10px;
    border-radius: 5px;
}
#stockInfo {
    width: 90%;
}


/*TICKER*/

.ticker {
    position: relative;
    float: right;
    top: -200px;
    right: 100px;
    width: 400px;
    height: 395px;
    overflow: hidden;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
    background-color: #F5F3E5;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
}

ul li {
    list-style: none;
    height: 50px;
    padding: 7px;
    border-bottom: 1px solid #D6CFB8;
}