body {
    background-color: white;
    color: black;
    margin: auto;
}

#combine {
    width: 400px;
    height: 500px;
    position: relative;
    top: 40px;
    border-radius: 20px;
    float: right;
    right: 200px;
    background-color: gray;
}

#search {
    position: relative;
    left: 40px;
    top: 40px;
    width: 300px;
    height: 150px;
    padding: 12px;
}

#weatherinfo {
    font-size: 43;
}

#search label {
    position: relative;
    top: 50px;
    float: left;
    width: 200px;
    padding-right: 12p
}

#search button {
    position: relative;
    top: 70px;
    width: 90px;
    height: 50px;
}

#weatherDisplay {
    position: relative;
    float: right;
    font-size: 40px;
    top: 50px;
    left: 170px;
}

#weatherApp {
    font-size: 10px;
    height: 250px;
    width: 350px;
    position: relative;
    float: left;
    left: 17px;
    padding-left: 15px;
    top: 40px;
    border-radius: 20px;
    text-shadow: red;
}

#headerTime {
    text-align: center;
    margin: auto;
    width: 600px;
    height: 50px;
    font-size: 20px;
}

#headerName {
    text-align: center;
    margin: auto;
    width: 400px;
}

#headerLogo {
    position: relative;
    float: left;
}

#headerApp {
    width: 100%;
    height: 100px;
    position: relative;
    left: 0px;
    top: -20px;
}

#rssApp {
    width: 50%;
    position: relative;
    margin: 50px;
    padding: 20px;
    background-color: gray;
    border-radius: 20px;
}

#stockApp {
    position: relative;
    top: -600px;
    right: 200px;
    height: 500px;
    width: 400px;
    float: right;
    border-radius: 20px;
    background-color: gray;
}